body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(43, 42, 40);
}

.box {
  background-color: rgb(52, 71, 60);
  padding: 20px;
  border-radius: 10;
  box-shadow: 0px 0px 15px rgba(250, 237, 237, 0.1);
  text-align: center;
  width: 400px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.StartPoll,
.Revote {
  background-color: rgb(205, 146, 28);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.walletButton {
  background-color: rgb(211, 92, 28);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.voteButton {
  background-color: rgb(71, 118, 120);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.StartPoll:hover,
.Revote:hover {
  background-color: rgb(99, 82, 8);
}
.walletButton:hover {
  background-color: rgb(128, 55, 16);
}

.voteButton:hover {
  background-color: rgb(40, 63, 63);
}

.voteButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.Revote:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.walletAddress {
  text-align: right;
  color: darkgray;
}

.status {
  color: darkgrey;
}
.moviesList {
  display: flex;
  justify-content: space-around;
}
